[Unit]
Description=Magic Blue

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/env pybleno-magicblue
Restart=always

[Install]
WantedBy=multi-user.target
