[Unit]
Description=Magic Blue

[Service]
WorkingDirectory=/root
ExecStartPre=/bin/hciconfig hci0 down
ExecStart=/usr/bin/env python3 -u /usr/local/bin/pybleno-magicblue
Restart=always

[Install]
WantedBy=multi-user.target
